﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<div>
    <input type="text" id="txtId" />
    <input type="button" id="btnGet" value="Find Employee" />
    <p id="txtFullName" />
    <p id="txtHireDate" />
    <p id="txtResponse" />
    <script type="text/javascript">
        $(function () {
            $("#btnGet").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Home/Employee",
                    data: '{employeeid: "' + $("#txtId").val() + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        $("#txtFullName").text(response.FullName);
                        $("#txtHireDate").text(response.HireDate);

                    },
                    failure: function (response) {
                        $("#txtResponse").val = response.responseText;
                    },
                    error: function (response) {
                        $("#txtResponse").val = response.responseText;
                    }
                });
            });
        });
    </script>
</div>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>